<!-- home.component.html -->
<div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <h2>About us</h2>
  
    
      </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                  <h5 class="card-title ">Dream Closet</h5>
                  <p class="card-text display-4 headin">Discover timeless elegance at our boutique shop, where curated collections blend sophistication with style. Unveil a world of exquisite fashion, from handpicked ensembles to unique accessories. Each piece tells a story of luxury and individuality, ensuring you step out in confidence and grace. Elevate your wardrobe with our signature selections.</p>
                </div>
              </div>
        </div>
        
        
      </div>

      
<div class="container contact-container colors">
    <h2>Contact Us</h2>
    <p>Feel free to reach out to us through the following channels:</p>
  
    <ul class="list-group">
      <li class="list-group-item">
        <i class="fas fa-envelope"></i> Email: dreamcloset@example.com
      </li>
      <li class="list-group-item">
        <i class="fas fa-phone"></i> Phone: +92 (123) 456-7890
      </li>
      <li class="list-group-item">
        <i class="fas fa-map-marker-alt"></i> Address: KP Road Ganai Abad ,Pehru, Anantnag JandK
      </li>
    </ul>
  
    <div class="mt-3">
      <p>Follow us on social media:</p>
      <a href="#" class="social-icons"><i class="fab fa-facebook"></i></a>
      <a href="#" class="social-icons"><i class="fab fa-instagram"></i></a>
      <a href="#" class="social-icons"><i class="fab fa-snapchat"></i></a>
    </div>
  </div>
  </div>
  