<!-- home.component.html -->
<div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <h2>Locate us : </h2>
  
    
      </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <!-- <div class="card-body">
                  <h5 class="card-title">Avenue</h5>
                  <p class="card-text display-4">Lorem ipsum is placeholder text commonly used in the graphic, print, and publishing industries for previewing layouts and visual mockups.</p>
                </div> -->
                <app-google-map></app-google-map>
              </div>
        </div>
        
        
      </div>
  </div>
  