/* home.component.css */
.card {
    margin-bottom: 20px;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .card-title {
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
  }
  
  .card-body {
    padding: 1.25rem;
  }
  
  .display-4 {
    font-size: 2.5rem;
  }
  
  
  #dummyGraph 
  {
    width: 100%;
  }
  .imagecss {
    height: calc(100% - 5px);
    width: 250px;
  }
  .imagecss img {
    height: 300px;
    width: 100%;
  }
  .img-sec {
    display: flex;
    justify-content:center;
    align-items: center;
    padding: 10px;
  }
  .img-sec img {
height: 80px;
width: 75px;
border-radius: 50%;
  }
  .img-sec h1{
    font-size:20px;
    font-weight: 500;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color:blueviolet;
    padding-left: 5px;
  } 
  .prices{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: larger;
    margin-bottom: 0px;
    /* color: #42a1be; */
    color : rgb(46 81 85)

}

